### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# %jupyter notebook

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Store filepath in a variable
purchase_data = 'Resources/purchase_data.csv'

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_data)

In [3]:
# show the header
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [4]:
# Create player df, display player count using unique values in SN
user_count_df = purchase_data_df['SN'].nunique()
game_player = pd.DataFrame({'Count of Unique Players' : user_count_df}, index = [0])


game_player

   Count of Unique Players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Convert  "Price" column values to float
converted_purchase_data_df = purchase_data_df.copy()
converted_purchase_data_df['Price'] = converted_purchase_data_df.loc[:, 'Price'].astype(float)

In [6]:
# Total titles sold in column
unit_sales_df = len(converted_purchase_data_df['Purchase ID'])
total_sales = pd.DataFrame({'Unit Sales' : unit_sales_df}, index = [0])
total_sales

   Unit Sales
0         780

In [7]:
# Number of unique titles 
unique_titles = len(set(converted_purchase_data_df['Item Name']))

number_unique_values = pd.DataFrame({'Unique Titles Sold' : unique_titles}, index = [0])

number_unique_values

   Unique Titles Sold
0                 179

In [8]:
# Qty of game titles sold by Item Name
title_counts_df = converted_purchase_data_df['Item Name'].value_counts()
title_counts_df.head()

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Fiery Glass Crusader                             9
Persuasion                                       9
Nirvana                                          9
Name: Item Name, dtype: int64

In [9]:
# Average price paid. Output includes formatting ($ and two decimal places)
average_price = converted_purchase_data_df['Price'].mean()
print(f'${average_price:.2f}')

#asp_price = pd.DataFrame({"Average Price" : average_price}, index=[0])

#asp_price = asp_price.style.format('${0:,.2f}')

#asp_price

$3.05

In [10]:
# 4 Gross Sales. Output includes formatting ($ and two decimal places)
gross_sales_df = converted_purchase_data_df['Price'].sum()
print(f'${gross_sales_df:.2f}')

$2379.77

In [11]:
# Place all of the data found into a summary DataFrame
summary_df = pd.DataFrame({'Total Revenue': [f'${gross_sales_df:,.2f}'],
                              'Total Number of Purchases': unit_sales_df,
                              'Average Price': [f'${average_price:.2f}'],
                              'Unique Items Sold' : unique_titles,
                              'Unique Players': user_count_df})
summary_df

,Total Revenue,Total Number of Purchases,Average Price,Unique Items Sold,Unique Players
0,"$2,379.77",780,$3.05,179,576

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [12]:
# create dataframe grouping unique players by Gender
gender_count = pd.DataFrame(purchase_data_df.groupby('Gender')['SN'].nunique())

# rename column
gender_count = gender_count.rename(columns={'SN':'Number of Players'})

# add column Percentage and calculate gender percentage
gender_count['Percentage Split'] = gender_count['Number of Players'] / sum(gender_count['Number of Players'])

# format column Percentage to %
format_dict = {'Percentage Split': '{:.2%}'}

gender_count.head().style.format(format_dict)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
# create summary dataframe, grouping unique players by Gender
purchase_by_gender = pd.DataFrame(purchase_data_df.groupby('Gender')['SN'].nunique())

# rename column SN to Number of Players
purchase_by_gender = purchase_by_gender.rename(columns={'SN':'Number of Players'})

# create new columns for summary dataframe and execute basic calculations for each
purchase_by_gender['Purchase Count'] = pd.DataFrame(purchase_data_df.groupby('Gender')['Purchase ID'].count())
purchase_by_gender['Average Purchase Value'] = pd.DataFrame(purchase_data_df.groupby('Gender')['Price'].sum())
purchase_by_gender['Average Purchase Price'] = (purchase_by_gender["Average Purchase Value"]) / purchase_by_gender["Number of Players"]

format_dict = ({'Average Purchase Price': '${:,.2f}',
               'Average Purchase Value': '${:,.2f}'})

purchase_by_gender.head().style.format(format_dict)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [14]:
age_demographics_df = converted_purchase_data_df

# set bin ranges
age_bins = [0,18,24,34,40,99]

# names for the five groups
age_groups = ['0-18', '18-24', '24-35', '34-40', '40+']

# create dataframe with cuts by Age group
age_demographics_df['Age'] = pd.cut(age_demographics_df['Age'], age_bins, labels=age_groups)

# create summary dataframe, with new column for Age
age_df = pd.DataFrame(age_demographics_df.groupby('Age').SN.nunique())

# rename column SN to Number of Players
age_df = age_df.rename(columns={'SN':'Number of Players'})

# create new column, Percentage Split, for the summary dataframe and calculate percentages by age group
age_df['Percentage Split'] = age_df['Number of Players'] / sum(age_df['Number of Players'])

# format columns $ and two decimal places.
format_dict = {'Percentage Split': '{:.2%}'}

age_df.head().style.format(format_dict)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
age_purchase_df = purchase_data_df

# *set bin ranges
age_bins = [0,18,24,34,40,99]

# *names for the five groups
age_groups = ['0-18', '18-24', '24-35', '34-40', '40+']

# *create dataframe with cuts by Age group
age_purchase_df['Age'] = pd.cut(age_purchase_df['Age'], age_bins, labels=age_groups)

# create summary dataframe, with new column for Age
age_df = pd.DataFrame(age_purchase_df.groupby('Age').SN.nunique())

# rename column SN to Number of Players
age_df = age_df.rename(columns={'SN':'Number of Players'})

# create new columns for summary dataframe and execute basic calculations for each
age_df['Purchase Count'] = pd.DataFrame(purchase_data_df.groupby('Age')['Purchase ID'].count())
age_df['Average Purchase Value'] = pd.DataFrame(purchase_data_df.groupby('Age')['Price'].sum())
age_df['Average Purchase Price'] = (age_df["Average Purchase Value"]) / age_df["Number of Players"]

format_dict = ({'Average Purchase Price': '${:,.2f}',
               'Average Purchase Value': '${:,.2f}'})

age_df.head().style.format(format_dict)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [16]:
# create summary dataframe, grouping unique players by SN
top_spender = pd.DataFrame(purchase_data_df.groupby('SN')['Purchase ID'].count())

# rename column Purchase ID to Purchase Count
top_spender = top_spender.rename(columns={'Purchase ID':'Purchase Count'})

# create new columns for summary dataframe and execute basic calculations for each
top_spender['Average Purchase Value'] = pd.DataFrame(purchase_data_df.groupby('SN')['Price'].sum())
top_spender['Average Purchase Price'] = (top_spender["Average Purchase Value"]) / top_spender["Purchase Count"]

# get nlargest values from Purchase count
top_spender = top_spender.nlargest(5, 'Purchase Count')

format_dict = ({'Average Purchase Price': '${:,.2f}',
               'Average Purchase Value': '${:,.2f}'})

top_spender.head().style.format(format_dict)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [80]:
# select a subset of purchase_data dataframe
popular_items = purchase_data_df[['Item ID','Item Name','Price']]

# create summary dataframe, grouping Item ID and Item Name
popular_items = popular_items.groupby(['Item ID', 'Item Name'])

popular_items
# rename column Purchase ID to Purchase Count
#top_spender = top_spender.rename(columns={'Purchase ID':'Purchase Count'})

# create new columns for summary dataframe and execute basic calculations for each
#top_spender['Average Purchase Value'] = pd.DataFrame(purchase_data_df.groupby('SN')['Price'].sum())
#top_spender['Average Purchase Price'] = (top_spender["Average Purchase Value"]) / top_spender["Purchase Count"]

# get nlargest values from Purchase count
#top_spender = top_spender.nlargest(5, 'Purchase Count')

#format_dict = ({'Average Purchase Price': '${:,.2f}',
#               'Average Purchase Value': '${:,.2f}'})

#top_spender.head().style.format(format_dict)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame