### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Store filepath in a variable
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_data)

In [2]:
# show the header
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
# Create player df, display player count using unique values in SN
player_count_df = purchase_data_df
player_count_df = player_count_df['SN'].nunique()
print(player_count_df)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#Convert the "Price" column values to an integer
converted_purchase_data_df = purchase_data_df.copy()
converted_purchase_data_df["Price"] = converted_purchase_data_df.loc[:, "Price"].astype(float)

In [5]:
# Number of unique titles in column Item Name
unit_sales_df = len(converted_purchase_data_df)
print(unit_sales_df)

780

In [6]:
# Qty of game titles sold by Item Name
# Additional info, not part of HW. Could use to show breakout of sales by title
title_counts_df = converted_purchase_data_df["Item Name"].value_counts()
title_counts_df.head()

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Fiery Glass Crusader                             9
Nirvana                                          9
Extraction, Quickblade Of Trembling Hands        9
Name: Item Name, dtype: int64

In [7]:
# Average price paid. Output includes formatting ($ and two decimal places)
average_price_df = converted_purchase_data_df['Price'].mean()

print(f"${average_price_df:.2f}")

$3.05

In [8]:
# 4 Total Sales Revenue. Output includes formatting ($ and two decimal places)
gross_sales_df = converted_purchase_data_df['Price'].sum()
print(f"${gross_sales_df:.2f}")

$2379.77

In [19]:
# Place all of the data found into a summary DataFrame
summary_df = pd.DataFrame({"Gross Sales": [f"${gross_sales_df:.2f}"],
                              "Unit Sales": unit_sales_df,
                              "Average Price": f"${average_price_df:.2f}",
                              "Unique Players": player_count_df})
summary_df

  Gross Sales  Unit Sales Average Price  Unique Players
0    $2379.77         780         $3.05             576

## Gender Demographics

In [10]:
# create dataframe that groups columns "SN", "Gender", from purchase_data 
# dataframe, then filters out duplicate names (SN)
gender_count_df = purchase_data_df.groupby("Gender")["SN"].nunique()

gender_count_df.head()

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [26]:
# gender percentage based on the number of unique players (SN)
gender_percent_df = gender_count_df/player_count_df

gender_percent_df.head()

Gender
Female                   0.140625
Male                     0.840278
Other / Non-Disclosed    0.019097
Name: SN, dtype: float64

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
# create unique items dataframe
count = purchase_data_df['Age'].value_counts()
count

20    99
22    70
24    67
23    67
21    62
25    59
15    35
30    35
16    30
18    26
19    23
17    22
35    14
33    14
26    14
29    13
27    10
10     9
7      9
34     9
38     9
32     8
8      8
11     7
31     7
37     7
39     6
40     6
9      6
12     6
36     5
28     5
13     4
44     2
41     2
14     2
43     1
42     1
45     1
Name: Age, dtype: int64

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame