### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Store filepath in a variable
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_data)

In [2]:
# show the header
purchase_data_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

## Player Count

* Display the total number of players

In [3]:
# Display player count using unique values in SN -- assumed to be player screen IDs.

purchase_data_df['SN'].nunique()

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# Converting the "Price" column's values to numeric
converted_purchase_data_df = purchase_data_df.copy()
converted_purchase_data_df["Price"] = converted_purchase_data_df.loc[:, "Price"].astype(float)

In [6]:
# Using GroupBy in order to separate the data into fields according to "state" values
item_priceavg_df = converted_purchase_data_df.groupby(['Item Name'])

print(item_priceavg_df)

# Visualize data function
item_priceavg_df.count().head(10)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001FF614E82B0>

                                Purchase ID  SN  Age  Gender  Item ID  Price
Item Name
Abyssal Shard                             5   5    5       5        5      5
Aetherius, Boon of the Blessed            5   5    5       5        5      5
Agatha                                    6   6    6       6        6      6
Alpha                                     3   3    3       3        3      3
Alpha, Oath of Zeal                       3   3    3       3        3      3
Alpha, Reach of Ending Hope               1   1    1       1        1      1
Amnesia                                   6   6    6       6        6      6
Apocalyptic Battlescythe                  6   6    6       6        6      6
Arcane Gem                                3   3    3       3        3      3
Avenger                                   6   6    6       6        6      6

In [ ]:
# Count of unique Item Name. 
count = purchase_data_df['Item Name'].value_counts()
count

In [ ]:
# Count of unique Item ID associated with Item Name
count = purchase_data_df['Item ID'].value_counts()
count

In [ ]:
# Count of unique prices
count = purchase_data_df['Price'].value_counts()
count

## Gender Demographics

In [ ]:
count = purchase_data_df['Gender'].value_counts()
count

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# create unique items dataframe
count = purchase_data_df['Age'].value_counts()
count

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame